Click
click
numpy
pyyaml
pytest
matplotlib
seaborn
notebook
torch
pytorch-lightning
tensorboard
neptune
tqdm
scipy
transformers
nltk
Pillow
langchain
langchain_experimental
langchain_openai
langchain-mistralai
text_generation
huggingface_hub
ipywidgets
chromadb
tiktoken
Flask
fastapi
